DATABASE_URL=<"enter the database URL">
JWT_SECRET = "your secret key"


MINIO_ENDPOINT=<"Enter your endpoint">
MINIO_PORT=<"port">
MINIO_ACCESS_KEY=<"Enter minio">
MINIO_SECRET_KEY=<"minio secret key">
MINIO_BUCKET=<"Minio bucket name">